<ion-header>
  <ion-toolbar>
    <ion-title>
      Games
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" routerLink="/tabs/addGame">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngIf="game">
      <ion-item-sliding *ngFor="let g of game">
          <ion-item-options side="start">
            <ion-item-option color="tertiary" expandable (click)="editar(g)">
              <ion-icon name="create"></ion-icon>Editar
            </ion-item-option>
          </ion-item-options>
    
          <ion-item routerLink="/tabs/perfilGame/{{g.key}}">
            <ion-avatar slot="start">
              <img src="{{g.fotos}}">
            </ion-avatar>
            <ion-label>{{ g.nome }}</ion-label>
            <ion-text>{{ g.valor }}</ion-text> 
          </ion-item>
    
          <ion-item-options side="end">
            <ion-item-option color="danger" expandable (click)="apagar(g)">
              <ion-icon name="trash"></ion-icon>Deletar
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
  </ion-list>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-content>