<ion-header>
    <ion-toolbar>
      <ion-title><h1>{{game.nome}}</h1></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-item lines="none">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-item>
  
    <ion-item>
      <ion-text>
        <h3>Descrição</h3>
        <p>{{game.descricao}}</p>
      </ion-text>
    </ion-item>
    <ion-item>
    <ion-text>
        <h3>Plataforma</h3>
        <p>{{game.console}}</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text>
        <h3>Valor</h3>
        <p>{{game.valor}}</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text>
        <h3>Quantidade</h3>
        <p>{{game.quant}}</p>
      </ion-text>
    </ion-item>
  </ion-content>